html{
	font-size: 100px;

}
body{
	overflow:hidden;
	width: 100%;

}
.btn{
	position: absolute;
	width: 100%;
	height: 1.2rem;
	bottom: 0;
	z-index: 99;
	background: #F7F7F7;

}
.btn>button{
	width: 6.9rem;
	height: 0.9rem;
	display: block;
	margin: 0.15rem auto;
	background-image: linear-gradient(-180deg, #00ACF8 0%, #0096FF 100%);
	border-radius: 5px;
	border: none;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 0.28rem;
	color: #FFFFFF;
}
.swiper-slide{
	background: #fff;
}
.swiper-slide>div{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 55;
}
.swiper-slide div>img{
	width: 100%;
	height: 100%;
}
.swiper-container{
	width: 100%;
}
.swiper-wrapper{
	width: 100%;
}
.swiper-slide{
	width: 100%;
}
.swiper-slide>.bg{
	width: 100%;
	height: 3.32rem;
	top: 0;
}
.swiper-slide>.logo{
	width: 3.8rem;
	height: 1.2rem;
	top: 0.65rem;
}
.swiper-slide>.num{
	width: 0.65rem;
	height: 1.01rem;
	top: 3.03rem;
}
.swiper-slide>.phone{
	width: 100%;
	height: 5.84rem;
	bottom: 1.2rem;
}

.swiper-slide>.text{
	height: 0.86rem;
	top: 4.04rem;
}
.swiper-slide>.text>h3{
	font-size: 0.5rem;
	color: #333;
	line-height: 0.7rem;
	font-weight: bold;
	text-align: center;
	font-family: "微软雅黑 Light";
}
.swiper-slide>.text>h3>span{
	color: #ff9a00;
}
.swiper-slide>.text>div{
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.22rem;
	color: #999;
}
@media screen and (max-height: 667px) {
	.swiper-slide>.bg{
		width: 100%;
		height: 3.32rem;
		top: 0;
	}
	.swiper-slide>.logo{
		width: 3.8rem;
		height: 1.2rem;
		top: 0.65rem;
	}
	.swiper-slide>.num{
		width: 0.65rem;
		height: 1.01rem;
		top: 2.8rem;
	}
	.swiper-slide>.text{
		width: 4.84rem;
		height: 1rem;
		top: 3.8rem;
		z-index:555
	}
	.swiper-slide>.phone{
		width: 100%;
		height: 44.4%;
		bottom: 1.2rem;
	}
}
@media screen and (max-height: 480px) {
	.swiper-slide>.text{
		z-index:555
	}
	.swiper-slide>.phone{
		width: 100%;
		height: 5.84rem;
		bottom: 0rem;
	}
}

/* @media screen and (max-height: 400px) {
	.swiper-slide>.num{
		display:none
	}
	.swiper-slide>.text{
		width: 4.84rem;
		height: 1rem;
		top:3rem;
		z-index:555
	}
} */
 @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */

    .swiper-slide>.num{
		display:none
	}
	.swiper-slide>.text{
		width: 4.84rem;
		height: 1rem;
		top:3rem;
		z-index:555
	}

} 













